<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

<p th:if="${book.getPerson_id() == null}" th:text="'Эта книга свободна. Кому назначить ее?'"></p>
<form th:if="${book.getPerson_id() == null}" th:method="POST" th:action="@{/books/{id}/addBookToPerson (id=*{book.getId()})}">
    <label for="options" th:text="'Выберите человека'" ></label>
    <select id="options" th:object="${person}" th:field="*{id}">
        <option th:each="person : ${people}" th:value="${person.getId()}"
                th:text="${person.getFullName()}"></option>
    </select>
    <input type="submit" value="Назначить книгу">
</form>

<p th:if="${book.getPerson_id() != null}" th:text="'Книга сейчас у: ' + *{bookHolder.getFullName()}"></p>
<form th:if="${book.getPerson_id() != null}" th:method="POST" th:action="@{/books/{id}/free (id=*{book.getId()})}">
    <input type="submit" value="Освободить книгу">
</form>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit (id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>
<form th:method="POST" th:action="@{/books/{id}/delete (id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>