<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать пользователя</title>
</head>
<body>
<form th:method="POST" th:action="@{/people/{id} (id=${person.getId()})}" th:object="${person}">
    <label for="fullName">Enter name: </label>
    <input type="text" th:field="*{fullName}" id="fullName">
    <h1 style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">ERROR NAME</h1>
    <br/>
    <label for="birthYear">Enter age: </label>
    <input type="text" th:field="*{birthYear}" id="birthYear">
    <h1 style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">ERROR AGE</h1>
    <br/>
    <input type="submit" value="Редактировать!">
</form>
</body>
</html>